body{
    font-size: medium;
    color: #0f0f0f;
    background-color: #ddd;
}
[id=linktable1]{
    text-align: center;
    font-size:medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    padding: 50px;
    /* tried to pad but does not look good*/
    border-style: double;
    border-color: rgb(255, 0, 0);
    border-width: 5px;
    border-radius: 5px;
    background-color: aqua;
}
